@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* se usa para resetear*/
*{
margin: 0;    
padding: 0;
box-sizing: border-box;
font-family: 'Shadows Into Light', cursive;
font-family: 'Work Sans', sans-serif;
}

                 /*comienzo de grids index principal*/
.general{
display: grid;
grid-template-columns: 1fr;
grid-template-areas: 
"header"
"imagen"
"texto"
"multimedia"
"redes"
"footer";
background-color: #15133C;
}

header{
grid-area: header;
padding: 3rem .5rem 3rem .5rem;
width: 100%;
height: 100%;
}

.barraNav{
display: flex;
justify-content:flex-end;
list-style: none;/*saca los puntos de los items*/
}

.barraNav li a{
text-decoration: none;
padding: 1rem 1rem 1rem 1rem;
color:#14ffc0;
font-weight: 600;
font-size: large;
margin-right: 1rem;
}

h1{
position: absolute;
font-size: 3rem;
line-height: 1.5rem;
font-family: 'Shadows Into Light', cursive;
color:#14ffc0;
}

h2{
text-align: center;
font-size: 3rem;
margin-top: 2rem;
font-family: 'Shadows Into Light', cursive; 
color: #14ffc0;
}

.imagen{
grid-area: imagen; 
}

img{
background-image: url(../images/perros.jpg);
max-width:100%;
margin-top:0px;
}
.texto{
grid-area: texto;
padding: 10px;
line-height: 25px;
margin: 3rem 0;
font-size: larger;
text-align: center; 
color: #F1EEE9;
}

.multimedia{
grid-area: multimedia;
display: flex;
justify-content: space-around;
}

.multimedia iframe {
    max-width: 100%;
}

.redes{
grid-area: redes;
display: flex;
justify-content: space-evenly;
margin-top: 4rem;
margin-bottom: 5rem;
background-color:#F1EEE9 ;
}

footer{
grid-area: footer;
background: linear-gradient(180deg,#15133C,transparent);
padding: 3rem;
text-align: center;
text-decoration: overline;
color:#14ffc0;
}

.textoFooter{
color: #14ffc0;
}

                    /*media queries 1024*/
@media (max-width:1024px) {
.general{
display: grid;
grid-template-columns: 1fr;
grid-template-areas: 
"header"
"imagen"
"texto"
"multimedia"
"redes"
"footer";  
background:#15133C;  
}
header{
grid-area: header;
padding: 3rem .5rem 1rem .5rem;
width: 100%;
height: 100%;
background:#15133C;
position: relative;;
}

.barraNav{
display: block;
text-align: center;
}

.barraNav li {
color: white;
font-weight: 600;
font-size: large;
border: 1px solid white;
margin-top: 1rem;
border-radius: 5px;
}

.barraNav li a{
display: block;
padding:.5rem;
}

h1{
position: relative;
left:0;
top: 0;
text-align:center;
padding-bottom: 1rem;
}
}

                /*media queries d 768px*/
@media (max-width:768px) {
.general{
display: grid;
grid-template-columns: 1fr;
grid-template-areas: 
"header"
"imagen"
"texto"
"multimedia"
"redes"
"footer";         
background:#15133C;
}
    
header{
grid-area: header;
padding: 3rem .5rem 1rem .5rem;
width: 100%;
height: 100%;
background:linear-gradient(43deg, #307574, transparent);
position: relative;
}
.barraNav{
display: block;
text-align: center;
padding-top: 1rem;
}
    
.barraNav li {
color: white;
font-weight: 600;
font-size: large;
background:linear-gradient(180deg, black, transparent);
margin-top: 1rem;
}

.multimedia iframe {
width: 500px;
height: 350px;
}
}

                     /* media queries de 480px*/
@media (max-width:480px) {
.general{
display: grid;
grid-template-columns: 1fr;
grid-template-areas: 
"header"
"imagen"
"texto"
"multimedia"
"redes"
"footer";    
background:#15133C;      
}
        
header{
grid-area: header;
padding: 3rem .5rem 1rem .5rem;
width: 100%;
height: 100%;
background:linear-gradient(43deg, #307574, transparent);
position: relative;
}

.barraNav{
display: block;
text-align: center;
padding-top: 1rem;
}
        
.barraNav li {
color: white;
font-weight: 600;
font-size: large;
background: gainsboro;
margin-top: 1rem;
}

.barraNav li a {
color: black;
}

.multimedia iframe {
width: 300px;
height: 200px;
}

.redes{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 4rem;
margin-bottom: 5rem;
}

.logos{ 
padding-bottom: 1rem;
}
}
            /*fin de media queries de index.principal*/

            /*comienzo de idex.quienes somos*/

/*main de Quienes Somos*/

body{
background: #15133C;
}
.quienesGeneral{
    width: 100%;
}

.contenedorQuienes{
width: 90%;
overflow: hidden;
position: relative;
margin: 100px auto;
border-radius: 20px;
box-shadow:18px 55px 83px #f1eee9; /*estetica a borde y sombreado*/
}
        
.imgQuienes{
max-width: 100%;
opacity: 50%;
}
.textoQuienes{
margin-top: 4rem;
text-align: center;
line-height: 21px;
color: #F1EEE9;
}
.quienesTitulo{
text-align: center;
}
    
.quienesFooter{
color:#14ffc0;

}

@media (max-width:1024px) {
.quienesGeneral{
display: grid;
grid-template-columns: 1fr;
grid-template-areas:
"header"
"h2"
"contenedorQuienes"
"redes"
"footer";
background: #15133C;
}

.contenedorQuienes{
grid-area: contenedorquienes;
width: 90%;
overflow: hidden;
position: relative;
margin: 2rem auto;
border-radius: 20px;
box-shadow:18px 55px 83px #f1eee9; /*estetica a borde y sombreado*/
}
        
.imgQuienes{
max-width: 100%;
opacity: 50%;
}
.textoQuienes{
    margin-top: auto;
position: relative;
text-align: center;
line-height: 21px;
color: #F1EEE9;
font-size: 15px;
}
.quienesTitulo{
text-align: center;
}
}
@media (max-width:768px) {
.quienesGeneral{
width: 100%;
display: grid;
grid-template-columns: 1fr;
grid-template-areas:
"header"
"h2"
"contenedorQuienes"
"redes"
"footer";
}   

header{
grid-area: header;
padding: 3rem .5rem 1rem .5rem;
width: 100%;
height: 100%;
background:linear-gradient(43deg, #307574, transparent);
position: relative;
}

.h2{
grid-area: h2;
text-align: center;
}
.contenedorQuienes{
grid-area: contenedorQuienes;
}

.imgQuienes{
width: 100%;
opacity: 50%;
}   
}

@media (max-width:480px) {
.quienesGeneral{
width: 100%;
display: grid;
grid-template-columns: 1fr;
grid-template-areas:
"header"
"h2"
"contenedorQuienes"
"redes"
"footer";
}   


.contenedorQuienes{
grid-area: contenedorQuienes;
margin: 1rem auto;
border-radius: 20px;
display: flex;
flex-direction: column;
}
            
.imgQuienes{
max-width: 100%;

}
.textoQuienes{
width: 100%;
text-align: center;
line-height: 21px;
color: #F1EEE9;
}
.quienesTitulo{
text-align: center;
}
}

                        /*fin de main index.quienes somos*/
    
    
                       /*comienzo de index.ayudanos*/
.colaboracion{
display: flex;
margin: 2rem;
background:linear-gradient(85deg,#73777B,transparent);
padding: 2rem;
border-radius:2%;
}
.colaboracion img{
background-image:url(../images/abrazo.jpg);
border-radius: 50%;
-webkit-animation: kenburns-bottom-right 5s ease-out both;
animation: kenburns-bottom-right 5s ease-out both;
}


h3{
font-family:'Shadows Into Light', cursive;
color:#14ffc0;
font-size:2rem;
text-align: center;
padding-top: 2rem;
}

h4{
color: #F1EEE9;
font-size: 1rem;
text-align: center;
} 

.textoAyudanos{
color: #F1EEE9;
text-align: center;
padding: 1rem 1rem;
font-size: large;
margin: auto;
}
.materiales{
color: #F1EEE9;
padding: .5rem 1rem;
}

.mapa{
max-width: 100%;
display: flex;
justify-content: center;
padding: 5rem  .5rem;
}
@media (max-width:1024px) {
.colaboracion img{
background-image:url(../images/abrazo.jpg);
border-radius: 40%;
}

.colaboracion{
display: flex;
flex-direction: column;
}
}

@media (max-width:768px) {       
.colaboracion{
display: flex;
flex-direction: column-reverse;
display: flex;
margin: auto;
background:linear-gradient(85deg,#73777B,transparent);
padding: 2rem;   
} 
}

@media (max-width:480px) {
.colaboracion{
padding-top:.5rem;
} 
}


                        /*fin de main de index.ayudanos*/            


                         /* Inicio de main index.adopta*/

.adopciones{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows:33% 33% 33% auto;
gap: 2rem;
margin: 3rem 6rem 3rem 6rem;
}

.caja{
display: flex;
flex-direction: column;
margin-bottom: 5rem;
backdrop-filter: contrast(0.7);
border-radius: 5%;
}

.caja img{
border-radius: 5%;
}

.descripcion{
text-align: inherit;
padding: .5rem;
color: #F1EEE9;
}

@media (max-width:1024px) {
.adopciones{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 20% 20% 20% 20% 20%;
gap: 2rem;
margin: 2rem;
}
    
}

@media (max-width:768px) {
.adopciones{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 20% 20% 20% 20% 20%;
gap: 2rem;
margin: 2rem;
}   
}

@media (max-width:480px) {
.adopciones{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 10%;
gap: 1rem;
margin: 1rem;
}  
}

                         /*Fin de index.adopta*/

                         /*Comienzo de index.contacto*/

.contactoGeneral{
background:#15133C;
}


.contForm{
background-image: url(../images/amigos.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.formulario{
height: 80vh;
margin: auto 13rem auto 2rem;
padding: 5rem;
line-height: 2rem;
font-size: 20px;
}  

.diseñoForm{
display: flex;
flex-direction: column;
padding-top: 2rem;
}

.datos{
height: 2rem;
width: 16rem;
border-radius: 5px; 
opacity:20%; 
cursor: pointer;
}

.info{
display: flex;
flex-direction: column;
padding-top: 2rem;
height: 62px;
}

.infoDato{
    width: 16rem;
    border-radius: 5px;
    opacity: 80%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width:1024px) {
.formulario{
font-weight: bold;
}  
.infoDato{
font-weight: bolder;
} 
}

@media (max-width:768px) {

.formulario{
margin: 0;
padding: 5rem;
line-height: 2rem;
font-size: 20px;
}
}

@media (max-width:480px) {
.formulario{
line-height: 1rem;
font-size: 20px;   
padding:0 2rem;
}
}

                          /*fin de index contacto*/











