@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(341deg, rgba(37, 84, 185, 0.7882352941), transparent);
}

.navbar {
  background: linear-gradient(597deg, #084298, transparent);
}

.navbar-light .navbar-nav .nav-link {
  color: #14ffc0;
  padding: 1rem;
}

.navbar-light .navbar-toggler {
  background: linear-gradient(45deg, #cdd3dd, transparent);
}

h1 {
  position: absolute;
  font-size: 2.5rem;
  line-height: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  color: #14ffc0;
  -webkit-animation: scale-up-top 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-top {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 0%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 0%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
  }
}
.bg {
  padding: 2rem;
  background-color: #15133C;
}

.collapse {
  display: flex;
  justify-content: end;
}
.collapse ul {
  color: #14ffc0;
}
.collapse ul li a {
  text-decoration: none;
  padding: 1rem 1rem 1rem 1rem;
  color: #14ffc0;
  font-weight: 600;
  font-size: large;
  transition: background-color 0.5s;
}
.collapse ul li a:hover {
  background-color: #14ffc0;
  border-radius: 5px;
  color: #15133C;
}

/* header 480px*/
@media (max-width: 480px) {
  .collapse {
    display: flex;
    justify-content: end;
  }
  .collapse ul {
    color: #14ffc0;
  }
  .collapse ul li a {
    text-decoration: none;
    color: #14ffc0;
    font-weight: 300;
    font-size: large;
    transition: background-color 0.5s;
  }
  .collapse ul li a:hover {
    background-color: #14ffc0;
    border-radius: 5px;
    color: #15133C;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #14ffc0;
    padding: 0.5rem;
  }
}
header {
  border-bottom: 0.5px solid whitesmoke;
}

h2, h4 {
  text-align: center;
  font-size: 3rem;
  margin-top: 4rem;
  font-family: "Shadows Into Light", cursive;
  color: #14ffc0;
}

.footerGeneral {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5rem;
  text-align: center;
  color: #14ffc0;
  background: linear-gradient(0deg, rgba(37, 84, 185, 0.7882352941), transparent);
}
.footerGeneral .barraFooter {
  padding-top: 2rem;
}
.footerGeneral .barraFooter ul {
  color: #14ffc0;
}
.footerGeneral .barraFooter ul li {
  list-style-type: none;
  display: flex;
}
.footerGeneral .barraFooter ul li a {
  text-decoration: none;
  padding: 0.5rem;
  color: #14ffc0;
  font-weight: 300;
  font-size: large;
  transition: background-color 0.5s;
}
.footerGeneral .barraFooter ul li a:hover {
  background-color: #14ffc0;
  border-radius: 5px;
  color: #15133C;
}
.footerGeneral .infoFooter {
  padding-top: 8rem;
  border-left: 1px solid;
  margin: 1rem 0;
}
.footerGeneral .infoFooter img {
  background: transparent;
  padding-right: 1rem;
}
.footerGeneral .infoFooter p {
  text-decoration: none;
  font-weight: 300;
}
.footerGeneral .redes {
  display: flex;
  justify-content: space-around;
  padding: 6rem 1rem;
  border-left: 1px solid;
  margin: 1rem 0;
  background: transparent;
}
.footerGeneral .logos {
  background: transparent;
  padding-left: 1rem;
}
.footerGeneral .nav-link {
  color: #14ffc0;
}
.footerGeneral .nav-link:hover {
  color: #15133C;
}

/* footer 768 px*/
@media (max-width: 768px) {
  .footerGeneral {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "barraFooter" "redes" "infoFooter";
  }
  .footerGeneral .barraFooter {
    grid-area: barraFooter;
    border-right: none;
    display: flex;
    justify-content: space-around;
  }
  .footerGeneral .redes {
    grid-area: redes;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    border-left: none;
  }
  .footerGeneral .infoFooter {
    grid-area: infoFooter;
    border-left: none;
    padding-top: 2rem;
  }
}
/* footer 480px*/
@media (max-width: 480px) {
  .footerGeneral {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "barraFooter" "redes" "infoFooter";
  }
  .footerGeneral .barraFooter {
    grid-area: barraFooter;
    border-right: none;
    display: flex;
    justify-content: space-around;
  }
  .footerGeneral .redes {
    grid-area: redes;
    display: flex;
    flex-direction: row;
    padding: 0;
    border-left: none;
  }
  .footerGeneral .infoFooter {
    grid-area: infoFooter;
    padding-top: 0;
    border-left: none;
  }
}
/* inicio de main preinipal*/
.texto {
  padding: 10px;
  line-height: 25px;
  margin: 3rem 0;
  font-size: larger;
  text-align: center;
  color: #F1EEE9;
}
.texto b {
  color: #14ffc0;
}
.texto .pregunta, .texto .razones {
  font-size: 2rem;
  font-style: oblique;
  font-weight: 200;
  color: aquamarine;
  margin: 3rem auto;
}
img {
  background-image: url(../images/perros1500.jpg);
  max-width: 100%;
  margin-top: 0px;
}

.multimedia {
  grid-area: multimedia;
  display: flex;
  justify-content: space-around;
}
.multimedia iframe {
  max-width: 100%;
}

/*inicio media queryes de 1024px*/
@media (max-width: 1024px) {
  .general {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "imagen" "texto" "multimedia" "redes" "footer";
  }
  header {
    grid-area: header;
    width: 100%;
    height: 100%;
    background: #15133C;
    position: relative;
  }
  .navbar-toggler {
    background-color: #F1EEE9;
  }
  .navbar-toggler icon {
    background-color: #F1EEE9;
  }
  .collapse {
    text-align: right;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #14ffc0;
    padding-right: 1rem;
    margin-top: 0.5rem;
  }
  h1 {
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
  }
}
/*inicio de media queryes de 768px*/
@media (max-width: 768px) {
  .general {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "imagen" "texto" "multimedia" "redes" "footer";
  }
  header {
    grid-area: header;
    width: 100%;
    height: 100%;
    background: linear-gradient(43deg, #307574, transparent);
    position: relative;
  }
  .collapse {
    text-align: right;
  }
  .multimedia iframe {
    width: 500px;
    height: 350px;
  }
}
/*inicio de media queryes de 480px*/
@media (max-width: 480px) {
  .general {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "imagen" "texto" "multimedia" "redes" "footer";
  }
  header {
    grid-area: header;
    width: 100%;
    height: 100%;
    background: linear-gradient(43deg, #307574, transparent);
    position: relative;
  }
  .collapse {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
  h1 {
    position: relative;
    top: 50%;
    padding-bottom: 1rem;
    font-size: 19px;
  }
  h2, h4 {
    font-size: 30px;
  }
  .multimedia iframe {
    width: 300px;
    height: 200px;
  }
  .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  .logos {
    padding-bottom: 1rem;
    width: 5rem;
  }
}
/*  quienes */
body {
  background: #15133C;
}
body .quienesGeneral {
  width: 100%;
  height: none;
}

.team {
  width: 100%;
}

.nosotros img {
  float: left;
  padding: 2rem;
}

.manos {
  background: transparent;
  width: 50%;
  height: 50%;
}

.textoQuienes, .textoVeterinario {
  margin: 1rem 1rem;
  text-align: initial;
  line-height: 2.5rem;
  color: #F1EEE9;
  font-size: larger;
  font-family: "Work Sans", sans-serif;
  padding-top: 2rem;
}

.veterinario {
  width: 100%;
  padding-top: 2rem;
  background: transparent;
}

.textoVeterinario {
  text-align: inherit;
}
.textoVeterinario b {
  color: aquamarine;
}

h4 {
  font-size: 25px;
}

.carousel-inner {
  padding: 10%;
}

/* quienes somos x 1024px*/
@media (max-width: 1024px) {
  .quienesTitulo {
    text-align: center;
  }
  .textoQuienes, .textoVeterinario {
    margin: 1rem 1rem;
    text-align: initial;
    line-height: 2.5rem;
    color: #F1EEE9;
    font-size: larger;
    font-family: "Work Sans", sans-serif;
    padding-top: 2rem;
  }
  .nosotros img {
    float: left;
    padding: 2rem;
    padding-bottom: 0;
  }
}
/*quienes somos x 768px*/
@media (max-width: 768px) {
  .quienesGeneral {
    width: 100%;
    height: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "h2" "contenedorQuienes" "redes" "footer";
  }
  header {
    grid-area: header;
    width: 100%;
    height: 100%;
    background: linear-gradient(43deg, #307574, transparent);
    position: relative;
  }
  .manos {
    background: transparent;
    width: 70%;
    height: 70%;
  }
  .h2 {
    grid-area: h2;
    text-align: center;
  }
}
/*quienes somos x 480px*/
@media (max-width: 480px) {
  .team {
    width: 100%;
  }
  .manos {
    width: 100%;
  }
  .textoQuienes, .textoVeterinario {
    text-align: center;
  }
}
/*comienzo de adopta*/
.adopciones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 33% 33% 33% auto;
  gap: 2rem;
  margin: 3rem 6rem 3rem 6rem;
}
.adopciones .caja {
  color: #F1EEE9;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  background: linear-gradient(268deg, #8c9cb4, transparent);
  border-radius: 5%;
}
.adopciones .caja img {
  cursor: pointer;
  border-radius: 5%;
  width: 100%;
  height: none;
}
.adopciones .caja img:hover {
  transform: scale(1.1);
  transition: all 1s;
}
.adopciones .descripcion, .adopciones .offcanvas p, .offcanvas .adopciones p {
  text-align: inherit;
  padding: 0.5rem;
}

.boton {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
.boton .btn-primary {
  background-color: transparent;
  border: 1px solid white;
}

.offcanvas {
  background: black;
  color: aquamarine;
}
/*adopta 1024px*/
@media (max-width: 1024px) {
  .adopciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 2rem;
    margin: 2rem;
  }
}
/* adopta 768px*/
@media (max-width: 768px) {
  .adopciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 2rem;
    margin: 2rem;
  }
}
/*adopta 480px*/
@media (max-width: 480px) {
  .adopciones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10%;
    gap: 2rem;
    margin: 1rem;
  }
}
/*inicio de ayudanos*/
.colaboracion {
  display: flex;
  margin: 2rem;
  background: linear-gradient(85deg, #73777B, transparent);
  padding: 2rem;
  border-radius: 2%;
}
.colaboracion img {
  background-image: url(../images/abrazo.jpg);
  border-radius: 50%;
  -webkit-animation: kenburns-bottom-right 3s ease-out both;
  animation: kenburns-bottom-right 3s ease-out both;
}
@-webkit-keyframes kenburns-bottom-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 84%;
  }
  80% {
    transform: scale(1.25) translate(20px, 15px);
    transform-origin: right bottom;
  }
}
@keyframes kenburns-bottom-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 84%;
  }
  80% {
    transform: scale(1.25) translate(20px, 15px);
    transform-origin: right bottom;
  }
}
.colaboracion .textoAyudanos {
  color: #F1EEE9;
  text-align: center;
  padding: 1rem 1rem;
  font-size: large;
  margin: auto;
}

h3 {
  font-family: "Shadows Into Light", cursive;
  color: #14ffc0;
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}

h4 {
  color: #F1EEE9;
  font-size: 1rem;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.accordion {
  padding: 0 17%;
}
.accordion button {
  font-size: 1.5rem;
}

.collapse {
  display: flex;
}

.accordion-body {
  text-align: justify;
}

.materiales {
  color: #F1EEE9;
  padding: 0.5rem 1rem;
}

.mapa {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem 0.5rem;
}

/* ayudanos 1024px*/
@media (max-width: 1024px) {
  .colaboracion img {
    background-image: url(../images/abrazo.jpg);
    border-radius: 40%;
  }
  .colaboracion {
    display: flex;
    flex-direction: column;
  }
}
/* ayudanos 768px*/
@media (max-width: 768px) {
  .colaboracion {
    display: flex;
    flex-direction: column-reverse;
    display: flex;
    margin: auto;
    background: linear-gradient(85deg, #73777B, transparent);
    padding: 2rem;
  }
}
/*ayudanos 480px*/
@media (max-width: 480px) {
  .colaboracion {
    padding-top: 0.5rem;
  }
}
/*inicio  contacto*/
.contactoGeneral {
  background: #15133C;
}
.contactoGeneral .contForm {
  background-image: url(../images/amigos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contactoGeneral .contForm form {
  background-color: rgba(255, 255, 255, 0.2);
}
.contactoGeneral .contForm form .form-control {
  background-color: transparent;
  border: 1px solid black;
}

.row {
  display: block;
  padding: 0.5rem;
}/*# sourceMappingURL=style.css.map */