$colorPrincpal:#15133C;
$colorTitulos:#14ffc0;
$color-texto:#F1EEE9;
$fuentePrincipal:'Josefin Sans', sans-serif; 
$fuenteSecundaria:'Shadows Into Light', cursive; 
$fueneteTexto:'Work Sans', sans-serif;