.navbar{
  background:linear-gradient(597deg, #084298, transparent);
}
.navbar-light .navbar-nav .nav-link {
    color:$colorTitulos;
    padding: 1rem;
  }
   .navbar-light .navbar-toggler{
   background:linear-gradient(45deg, #cdd3dd, transparent);
}
  
  h1{
    position: absolute;
    font-size: 2.5rem;
    line-height: .5rem;
    font-family:$fuentePrincipal; 
    color:$colorTitulos;
    -webkit-animation: scale-up-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    @-webkit-keyframes scale-up-top {
    0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    }
    }
    @keyframes scale-up-top {
    0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    }
    }
    
      
  .bg{
    padding: 2rem;
    background-color:$colorPrincpal;
  }
  .collapse{
    display: flex;
    justify-content: end;
    ul{
    color:$colorTitulos;
       li{
           a{
            text-decoration: none;
            padding: 1rem 1rem 1rem 1rem;
            color:$colorTitulos;
            font-weight: 600;
            font-size: large;
            transition: background-color .5s;
            &:hover{
                background-color:$colorTitulos;
                border-radius: 5px;
                color:$colorPrincpal;  
                }
           }
        }
    }
}

/* header 480px*/

@media (max-width:480px) {
  
  .collapse{
    display: flex;
    justify-content: end;
    ul{
    color:$colorTitulos;
       li{
           a{
            text-decoration: none;
          
            color:$colorTitulos;
            font-weight: 300;
            font-size: large;
            transition: background-color .5s;
            &:hover{
                background-color:$colorTitulos;
                border-radius: 5px;
                color:$colorPrincpal;  
                }
           }
        }
    }
}
.navbar-light .navbar-nav .nav-link {
  color:$colorTitulos;
  padding: .5rem;
}
}