/*  quienes */
body{
    background:$colorPrincpal;
    .quienesGeneral{
        @include tamaño(100%, none);
    }
    
    .quienesTitulo{
        text-align: center;
        }
        
    .contenedorQuienes{
        @include tamaño(90%, none);
        margin: 100px auto;
        border-radius: 20px;
        box-shadow:18px 55px 83px $color-texto; /*estetica a borde y sombreado*/
          
             
          }
              .textoQuienes{
                  margin-top: 4rem;
                  text-align: center;
                  color:$color-texto;
                  padding:20px;
                  line-height: 2rem;
                  background: repeating-linear-gradient(45deg, black, transparent 100px);
                  border-radius: 20px;
                  font-size: larger;
                    }
                  } 
                
    .carousel-inner{
    padding: 5rem 12%;
    }

    /* index quienes somos x 1024px*/

@media (max-width:1024px) {
    .quienesGeneral{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "h2"
    "contenedorQuienes"
    "redes"
    "footer";
    }
    
    .quienesTitulo{
        text-align: center;
        }
    .contenedorQuienes{
    grid-area: contenedorquienes;
    @include tamaño(90%, none);
    margin: 2rem auto;
    border-radius: 20px;
    box-shadow:18px 55px 83px #f1eee9; /*estetica a borde y sombreado*/
             
    .textoQuienes{
        margin-top: auto;
        text-align: center;
        color: $color-texto;
        font-size: 15px; 
       
        }
      }
    }

    
@media (max-width:768px) {
    .quienesGeneral{
    @include tamaño(100%, none);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "h2"
    "contenedorQuienes"
    "redes"
    "footer";
    }   
    
    header{
    grid-area: header;
    @include tamaño(100%, 100%);
    background:linear-gradient(43deg, #307574, transparent);
    position: relative;
    }
    
    .h2{
    grid-area: h2;
    text-align: center;
    }

    .contenedorQuienes{
    grid-area: contenedorQuienes;
        
    .imgQuienes{
        @include tamaño(100%, none);
        opacity: 50%;
        }   
      }
    }
    
    @media (max-width:480px) {
    .quienesGeneral{
    @include tamaño(100%, none);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "h2"
    "contenedorQuienes"
    "redes"
    "footer";
    }   
    
    .quienesTitulo{
        text-align: center;
        }

    .contenedorQuienes{
    grid-area: contenedorQuienes;
    margin: 1rem auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
        .imgQuienes{
            max-width: 100%; 
            }

    .textoQuienes{
    @include tamaño(100%, none);
    text-align: center;
    line-height: 21px;
    color:$color-texto;
       }
     }   
    }
