/*  quienes */

body{
    background:$colorPrincpal;
    .quienesGeneral{
        @include tamaño(100%, none);
    }
}
    .team{
      width: 100%;
    }

    .nosotros img{
        float: left;
        padding: 2rem;
      }

    .manos{
        background: transparent;
        width: 50%;
        height: 50%;
      }

    .textoQuienes{
      margin:1rem 1rem;
      text-align: initial;
      line-height: 2.5rem;
      color:$color-texto;
      font-size: larger;
      font-family: $fueneteTexto;
      padding-top: 2rem;
        }
          
    .veterinario{
        width: 100%;
        padding-top: 2rem;
        background: transparent;
      }         

    .textoVeterinario{
        & b{
            color: aquamarine;
        }
      text-align: center;
      @extend .textoQuienes
    }

                         
    h4{
        font-size:25px;
        @extend h2
      
    }
    .carousel-inner{
    padding:10%;
    }

    /* quienes somos x 1024px*/

@media (max-width:1024px) {
    .quienesTitulo{
        text-align: center;
        }
             
    .textoQuienes{
      margin:1rem 1rem;
      text-align: initial;
      line-height: 2.5rem;
      color:$color-texto;
      font-size: larger;
      font-family: $fueneteTexto;
      padding-top: 2rem;
        }
        .nosotros img{
          float: left;
          padding: 2rem;
          padding-bottom:0;
        }
      }
    

    /*quienes somos x 768px*/

@media (max-width:768px) {
    .quienesGeneral{
    @include tamaño(100%, none);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "h2"
    "contenedorQuienes"
    "redes"
    "footer";
    }   
    
    header{
    grid-area: header;
    @include tamaño(100%, 100%);
    background:linear-gradient(43deg, #307574, transparent);
    position: relative;
    }
    .manos{
      background: transparent;
      width: 70%;
      height: 70%;
    }

    .h2{
    grid-area: h2;
    text-align: center;
    }
    }
    
    /*quienes somos x 480px*/

    @media (max-width:480px) {
    .team{
      width: 100%;
    }
    .manos{
      width: 100%;
    }
    .textoQuienes{
        text-align: center;
    }
     }   
    


