/*inicio index contacto*/

.contactoGeneral{
    background:$colorPrincpal;
    
    .contForm{
        background-image: url(../images/amigos.jpg);
        background-repeat: no-repeat;
        background-size: cover;
            
        & form{
            background-color: rgba(256,256,256,0.2);
            .form-control{
                background-color: transparent;
                border: 1px solid black;
                }
                
            }
        }
    }
      
    .row{
      display: block;
      padding:.5rem;
    }
    
    
    
    /* diseño de formulario sin botstrap

    .formulario{
    height: 80vh;
    margin: auto 13rem auto 2rem;
    padding: 5rem;
    line-height: 2rem;
    font-size: 20px;
    }  
    
    .diseñoForm{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    }
    
    .datos{
    height: 2rem;
    width: 16rem;
    border-radius: 5px; 
    opacity:20%; 
    cursor: pointer;
    }
    
    .info{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    height: 62px;
    }
    
    .infoDato{
        width: 16rem;
        border-radius: 5px;
        opacity: 80%;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        background: transparent;
        font-weight: bold;
        cursor: pointer;
    }*/
 