/*inicio  contacto*/

.contactoGeneral{
    background:$colorPrincpal;
    
    .contForm{
        background-image: url(../images/amigos.jpg);
        background-repeat: no-repeat;
        background-size: cover;
            
        & form{
            background-color: rgba(256,256,256,0.2);
            .form-control{
                background-color: transparent;
                border: 1px solid black;
                }
                
            }
        }
    }
      
    .row{
      display: block;
      padding:.5rem;
    }
    
    
    